#!/bin/zsh

# Mask built-ins with better defaults
alias vi="nvim"
alias vim="nvim"

# More ls
alias ls="ls --color"
alias ll="ls -lh"
alias la="ls -lAh"
alias ldot="ls -ld .*"

# Typos
alias cd..="cd .."

# Misc
alias please="sudo"
alias zshrc="${EDITOR:-vim} ${ZDOTDIR}/.zshrc"
alias reload="source '$ZDOTDIR/.zshrc'"
alias download="curl -k -O -L"
alias v="fdfind --type f --hidden --exclude .git | fzf | xargs nvim"

# K8s
alias k="kubectl"
alias kn="kubectl config set-context --current --namespace "
alias kns="kubectl config view --minify | grep namespace"

# WSL2
alias fixwsl="sudo rm -r /tmp/.X11-unix && ln -s /mnt/wslg/.X11-unix /tmp/.X11-unix"
